<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android_local_infer">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name="com.example.android_local_infer.App"
        android:label="LocalInfer"
        android:icon="@mipmap/ic_launcher"
        android:allowBackup="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleInstance"
            android:taskAffinity=""
            android:excludeFromRecents="true"
            android:configChanges="orientation|screenSize|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>
        </activity>


    </application>
</manifest>
